



<form action="<%= post_comments_url(@comment.post) %>" method="post">
  <%= form_auth_token %>
  <%= render "partials/comment_form", comment: Comment.new,
                                    action: :reply,
                                    parent_id: @comment.id,
                                    post_id: @comment.post_id%>
</form>

<%= render "partials/comment", comment: @comment %>
