<label for="sub_title">Title:</label>
<input id="sub_title"
       type="text"
       name="sub[title]"
       value="<%= sub.title %>"
       placeholder="funny">
<br>
<label for="sub_description">Description:</label>
<textarea id="sub_description"
          name="sub[description]"
          rows="8"
          cols="40"><%= sub.description %></textarea>
<br>   
