<h1>Make a new Sub!</h1>
<%= flash_errors %>
<br><br>
<form action="<%= subs_url %>" method="post">
  <%= form_auth_token %>
  <%= render "partials/sub_form", sub: @sub %>
  <button>Create Sub</button>
</form>
